# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Terraform lock file (keep this tracked)
# .terraform.lock.hcl  <-- DO NOT ignore this

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Archive screenshots
docs/images/archive/

#Personal notes
docs/images/Notes